body {
  background-color: #52381f;
  font-family: monospace;
  margin: 0;
}

.header {
  align-items: center;
  background: black;
  display: flex;
  justify-content: space-between;
}

.menu {
  flex-grow: 10;
}

.menu ul {
  display: flex;
  flex-direction: row-reverse;
}

.menu li {
  color: whitesmoke;
  font-size: 1.3em;
  list-style: none;
  margin: 1px 15px;
}

.menu select {
  border-radius: 1px;
  margin: 1px;
}

.menu option {
  background-color: whitesmoke;
}

.menu input {
  border-radius: 2px;
}

h1 {
  color: antiquewhite;
  font-size: 1.7em;
}
