.TabelaProdutos th {
  background-color: darkcyan;
}

.TabelaProdutos table {
  border: black solid 1px;
  margin: auto;
  width: 90%;
}

.TabelaProdutos .Par {
  background-color: #ddd;
}

.TabelaProdutos .Impar {
  background-color: #fff;
}

.input-filter {
  display: flex;
  margin: auto;
  max-width: 90%;
  justify-content: center;
}
