body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jumbotron {
  text-align: center;
}

.name-filter {
  width: 240px;
}

.dropdown {
  height: 30px;
  width: 120px;
}

.value-filter {
  width: 180px;
}

.filter-button {
  width: 60px;
}