.App {
  align-items: flex-start;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

table {
  border-collapse: collapse;
}

th, td {
  text-align: center;
}
